*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.main-bg{
    background-image: url(./images/bg-stars.svg);
    height: 100vh;
    width: 100vw;
    background-color: hsl(234, 17%, 12%);
    position: relative;
}
.hills{
    position: absolute;
    bottom: 0;
}
.hills img{
    width: 100%;
}
.icon-div{
  position: absolute;
  bottom: 5rem;
  z-index: 1;
}
.icon-div img{
    width: 19%;
}
